{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .form{
        display: flex;
        justify-content: center;
        align-items:center;
        padding:30px;
        position:relative;

    }
    .image{
        display: flex;
        justify-content: center;
        align-items:center;
        padding:30px;
        position:relative;

    }
</style>

<div class="container">
<div class="image">
<!-- <img src ="{% static 'images/school1.jpg' %}" width="700" height="600"> -->
</div>
<div class="form">
    <form method = "POST" enctype="multipart/form-data">
        <h2>회원가입</h2> <br>

        {% csrf_token %}
        {% for field in registration_form %}
            <p>
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                    <small style="color:grey">{{field.help_text}}</small>
                {% endif %}

                {% for error in field.errors %}
                    <small style="color:red">{{error}}</small>
                {% endfor %}
            </p>
        {% endfor %}

        <button type="submit">회원가입 완료</button>
    </form>
</div>
</div>
{% endblock %}