{% extends 'base.html' %}

{% block content %}

<h5>This is mypage.html</h5>

<a href="{% url 'profile_update' %}">회원정보 수정하러 가기</a>

<br>

<p>
<div style="border: 1px solid gold; float: left; width: 50%;">
    내가 한 부탁
</div>

<div style="border: 1px solid red; float: left; width: 49%;">
    내가 들어주고 있는 부탁
</div>
</p>

<P>
<div style="border: 1px solid ; float: left; width: 25%;">
    <a href="">자세히 보기</a>
</div>
<div style="border: 1px solid ; float: left; width: 25%;">
    <a href="">자세히 보기</a>
</div>
<div style="border: 1px solid ; float: left; width: 25%;">
    <a href="">자세히 보기</a>
</div>
<div style="border: 1px solid ; float: left; width: 24%;">
    <a href="">자세히 보기</a>
</div>
</P>

<br>


{% endblock %}