/* main.css */

.main {
    display: flex;
    flex-direction: column;
    height: auto;
}

.main_filter {
    display: flex;
    flex-direction: row;
}

.filter_button {
    margin: 0 5px;
    border-radius: 7px;
    padding: 2px;
    color: white;
    background: blue;
}

.content_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 10px;
    text-align: center;
    width: 331px;
    height: 336px;
    margin: 10px;
    box-shadow: 1px 1px 8px;
    border: 2px solid black;
}

.main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

@media screen (max-width: 1460px) {
    .content_box {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.item {
    text-align: center;
}